li {
	float: left; 
	clear: both;
}
.input{
	background: #d1d8e0;
	margin-left: 20px;
	transform: rotate(-3deg);
	width: 230px;
	padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-left: 1em;
}
.input div{
	transform: rotate(3deg);
	padding-left: 8px;
	
}
.button{
	padding: 0.6em;
	border: none;
	background: #26de81;
	width: 100px;
	border-radius: 20px;
	color:#fff;
	font-weight: 600;
	
	
}

.hiddenMenu {
	visibility: hidden;
	
}