li {
	float: left; 
	clear: both;
	list-style-type: square;
	
}
.form{
	display: grid;
	grid-template-columns: 290px 140px 140px;
}
.input{
	background: #d1d8e0;
	margin-left: 20px;
	transform: rotate(-3deg);
	width: 230px;
	padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-left: 1em;
}
.eingabe{
	transform: rotate(3deg);
	padding-left: 8px;
	
}
.mainButtons{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	
}
.button{
	border: none;
	background: #26de81;
	width: 120px;
	height: 35px;
	border-radius: 25px;
	color:#fff;
	font-weight: 600;
	margin: 5px;
}
.hiddenMenu {
	display: none;	
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
.hiddenSort {
	display: none;	
	grid-template-rows: 1fr 1fr 1fr 1fr;
}






